<?xml version="1.0" encoding="UTF-8" ?>
 <widget xmlns = "http://www.w3.org/ns/widgets"
 xmlns:gap = "http://phonegap.com/ns/1.0"
 id = "org.corlan.atabsplitter"
 version = "1.0.0">
 
<name>aTabSplitter</name>
 
<description>
 A simple app for splitting a restaurant bill.
 </description>
 
<author email="chris@tankjetstudios.com">
Christopher Carter
 </author>
 
 <preference name="orientation" value="portrait" />
 
 <!-- the default attribute can also be used -->
 <icon src="assets/icons/48.png" gap:role="default" />
 
 <!-- iOS icons -->

 <!-- if a single splash screen is specified it will be used for all platforms -->
 <gap:splash src="assets/images/table_01.png" />

<gap:splash src="images/Default.png" width="640" height="960" />

<gap:splash 
src="splash/ios/Default~iphone.png" width="320" height="480" />

</widget>