
/* Global Attributes
========================================== */

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
}

body * {
	-webkit-transform: translate3d(0, 0, 0);
}

ul {
	margin: 0;  
	padding: 0;
	list-style-type: none;
}	

@font-face {
  font-family: Gotham-Medium;
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: Gotham-Bold;
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: Gotham-Book;
  src: url('../fonts/Gotham-Book.otf');
}

#logo{
	width: 268px;
	height: 300px;
	margin: auto;
}

/* Match Page
========================================== */

/* Header */

#lobby_header{
	width: 25%;
	height:38px;
	padding-top: 25px;
	background: #4a3515;
	float: left;
	text-align:center;
	font-family: 'Gotham-Bold';
	font-size: 13px;
	text-transform: uppercase;		
	color: #c4d7d2;
}

#to_spend{
	width: 25%;
	height:55px;
	background: #fbb032;
	float: left;
	padding-top: 8px;
 	text-align:center;
}

#to_spend .headerTitle{
	color: #fff;
	font-size: 12px;;
	font-family: 'Gotham-Bold';
	text-align: center;
	text-transform: uppercase;
}

#to_spend .count{
	color: #fff;
	float: right;
	font-family: Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 27px;
	margin-right: 31px;
}

#to_spend .money{
	color: #fff;
	float: left;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	margin-left: 19px;
}

#actions{
	width: 25%;
	background: #ef6b56;
	float: left;
	height:55px;
	padding-top: 8px;
	text-align:center;
}

#actions .headerTitle{
	color: #fff;
	font-size: 12px;;
	font-family: 'Gotham-Bold';
	text-align: center;
	text-transform: uppercase;
}

#actions .count{
	color: #fff;
	font-size: 28px;
	font-weight:bold;
	line-height: 27px;	
	font-family: 'Helvetica', sans-serif;

}

#turn{
	width: 25%;
	background: #4a3515;
	float: left;
	height:53px;
	padding-top: 10px;
	text-align:center;
	color: #fff;
	font-size: 12px;
	font-weight:bold;
	line-height: 19px;	
	text-transform: uppercase;
	font-family: 'Helvetica', sans-serif;
}

#end_turn{
	width: 25%;
	background: #4a3515;
	float: left;
	height:38px;
	padding-top: 25px;
	text-align:center;
	color: #c4d7d2;
	font-size: 12px;
	font-weight:bold;
	text-transform: uppercase;
	font-family: 'Gotham-Bold', sans-serif;
}

/* Players Toolbar */

.players {
	background-color: #424242;
	width:100%;
	height: 25px;
}


.players .player {
	height: 25px;
	list-style-type: none;
	text-align:center;
	background: #424242;
	color: #fff;
	font-weight:300;
	font-size:12px;
	font-family: 'Helvetica',sans-serif;
	float: left;
}

.players .turn {
background: #747a78;
}

.two.players li.player { width: 50%; }
.three.players li.player { width: 33.3%; }
.four.players li.player { width: 25%; }
.selected-player { background-color: #898989; }

.player .name {
	/* styles */
}

.player .score{
	font-size: 18px;
	font-weight:bold;
	color: #c4d7d2;
	margin-top: 10px;
}

/* Cards */

#hand-container {
	height: 237px;
	width: 316px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#hand {
	min-height: 231px;
}

.drag {
	-webkit-transition: all 0 cubic-bezier(0,0,0.2,1) !important;
}

.card-main {
	width: 282px;
	height: 51px;
	margin: auto;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-transition: all .1s ease;
	-webkit-perspective: 0;
	-webkit-backface-visibility: hidden;
	position: relative;
	margin-left: 19px;
	overflow: hidden;
	z-index: 1;
	background-color: #efebe1;
	-webkit-box-shadow: -5px 0 6px -6px rgba(0,0,0,0.3);
}

.card-notch {
	height: 51px;
	width:140px;
	-webkit-border-radius: 5px;
	-webkit-user-select: none;
	-webkit-transition: all .1s ease;
	margin-top: -51px;
	margin-bottom: 7px;
	margin-left: 12px;
	overflow: auto;
}

/* notch color */
.card .attack { background-color: #ef6b56; }
.card .money { background-color: #fbb032; }
.card .action { background-color: #424242; }
.card .coal { background-color: #424242; }

/* name color */
.card-main .name-attack { color: #ef6b56; }
.card-main .name-money { color: #fbb032; }
.card-main .name-action { color: #424242; }
.card-main .name-coal { color: #424242; }

.card-notch .use {
	font-family: 'Gotham-Bold';
	font-size: 12px;
	margin-top: 20px;
	margin: 18px 0 0 15px;
	color: #fff;
}

.card-main .name{
	font-family: 'Gotham-Bold';
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 4px;
	width: 180px;
}

.card-main .desc{
	float: left;
	font-family: Helvetica;
	font-size:12px;
	color:#646464;
}

.card-main .thumb{
	width: 44px;
	margin: 3px 7px 0 7px;
	float: left;	
}

.selected {
	opacity: 0.5;
}

.discard {
	display: none;
}



#imgCenter{
	margin:auto;
	text-align:center;
}

/* Mine */

#mine .count {
	color: #ffa800;
	font-weight: bold;
	size: 16px;
	-webkit-animation-duration: 100ms;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease;
}

#mine{
	float: left;
	font-size: 25px;
	height: 30px;
	margin-left: 6px;
	padding-top: 29px;
	text-align: center;
	width: 125px;
	font-weight:bold;
}


/* Card Detail */

#card-detail {
	background-color: #000;
}
.card-detail {
	width: 320px;
	height: 480px;
	-webkit-border-radius: 10px;
	background-color: #efebe1;
}

/* Buttons */

#itemsBtn img, #shopBtn img { width:92px; }

/* Log */

#log{
	width: 88%;
	padding: 2%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	background: url('../images/backgroundOpacity.png');	
	background-repeat: repeat;
	color: #898989;
	font-family: 'Gotham-Medium';
	font-size: 13px;
	overflow: hidden;
}

#log .name{
	color: #4a4a4a;
}

#log .item{
	color: #4a4a4a;
}

#log .attack {
	color: #ef6b56;
}

#log .money {
	color: #fbb032;
}

#log .coal{
	color: #4a4a4a;
}

/* Lobby
========================================== */

.logout{
		color: #fff;
		font-family: 'Gotham-Bold';
		font-size: 13px;
		text-transform: uppercase;	
}

#lobbyTitle{
		width: 100%;
		background-image:url('../images/lobby/header.jpg');
		background-repeat:no-repeat;
		float: left;
		height: 54px;
		padding-top: 15px;
		text-align:center;
		line-height: 34px;
		background-size: 319px;	
	}

.lobbyTitle{
		color: #fff;
		font-family: 'Gotham-Bold';
		font-size: 18px;
		text-transform: uppercase;
}



#matches {
	height: 340px;
	width: 296px;
	margin: 0 auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}	

#matches li{
	width: 276px;
	margin: 10px 0 0 0;
	-webkit-border-radius: 8px;
	background-color: #fff;
	display:block;
	padding:6px;
	color: #424242;		
	font-family: 'Gotham-Medium';
	font-size: 14px;
}

#matches li .log {
	/*color: #ef6b56;*/
	color: #898989;
	font-size: 12px;
	font-family: 'Gotham-Book';
}

#matches li .name{
	color: #4a4a4a;
}

#matches li .item{
	color: #4a4a4a;
}

#matches li .attack {
	color: #ef6b56;
}

#matches li .money {
	color: #fbb032;
}

#matches li .coal{
	color: #4a4a4a;
}


#matches .subhead {
	color: #898989;
	font-family: 'Gotham-book';
	font-size: 10px;
	text-decoration: none;
}

.matchTitle{
	width: 44%;
	margin-top:10px;
}


#new_match {
	background: #FFF;
}

/* Deck Screen
========================================== */

#backGame{
	width: 50%;
	background: #ef6b56;
	float: left;
	height:62px;
	padding-top: 8px;
	text-align:center;
}

#backGame a{
	color: #fff;
	font-size: 12px;;
	font-family: 'Gotham-Bold';
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
}

#backShop{
	width: 25%;
	background: #ef6b56;
	color: white;
	float: left;
	font-family: 'Gotham-Bold';
	font-size: 19px;
	height: 49px;
	padding-top: 21px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}




/* 
Shop Screen */

#shopContainer{
	padding-left: 42px;
	padding-top: 35px;
}

.shop-item{
	width: 80px;
	height: 89px;
	float:left;
	margin-left: 5px;
	position:relative;	
}

.shop-item .count{
	position:absolute;
	z-index: 99;
	left:39px;
	top:1px;
	width: 20px;
	height: 16px;
	background-color: #4f3b29;
	border-radius:10px;
	color: #fff;
	font-family:'arial', sans-serif;
	font-weight:bold;
	text-align:center;
	font-size: 9px;
	padding-top: 4px;
}

.shop-item .price{
	position:absolute;
	z-index: 98;
	left:4px;
	top:54px;
	width: 50px;
	height:20px;
	background-color: #faaf32;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px; 
	color: #4f3b29;
	font-family:'Gotham-Medium', sans-serif;
	font-weight:bold;
	text-align:center;
	font-size: 12px;
	padding-top: 3px;
	border-right: 3px solid #4f3b29;
	border-left: 3px solid #4f3b29;
	border-bottom: 3px solid #4f3b29;

}

.shop-item img{
	width:56px;
}



/* 
Other Pages */

	#divTitle{
		width: 75%;
		background: #fbb032;
		float: left;
		height:55px;
		padding-top: 15px;
		text-align:center;
		color: #fff;
		font-size: 28px;
		font-weight:bold;
		line-height: 34px;
	}


/* 
Background Declarations */

	.green {
		background: #f6f4ed;
	}

	.brown {
		background: #33250e;
	}

	#shop{
		background: url('../images/shopscreen.jpg');
		background-repeat: none;
	}

	#match{
		background: url('../images/game_bg.jpg');
		background-repeat: none;
	}


	#shopBtn{
		margin-top:20px;
		float:left;
	}

	#itemsBtn{
		margin-top:20px;
		float:right;
	}

	.clear{
		clear: both;
	}
	
	#loader {
		min-height: 480px;
		border: 0px;
		left: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 99;
		display: none;
		-webkit-transition: opacity .05s ease-in-out;
		text-align: center;
	}

	#loading-text {
		margin: 0 auto;
		color: #FFF;
		font-weight: bold;
	}
	
	#logo {
		background: url('../images/logo.png');
		background-repeat: none;
		background-size: 100%;		
	}

	#home {
		background: url('../images/login.jpg');
		background-repeat: none;
		background-size: 100%;		
	}

	#lobby{
		background: url('../images/lobby/background.jpg');
		background-repeat: none;
		background-size: 100%;
	}

	#deck{
		background: url('../images/items/background.jpg');
		background-repeat: none;
		background-size: 100%;	
	}

/*  Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		#lobby{
		background: url('../images/lobby/background.jpg');
		background-repeat: none;
		background-size: 100%;
	}    

		#lobbyTitle{
		width: 100%;
		background-image:url('../images/lobby/header.jpg');
		background-repeat:no-repeat;
		float: left;
		height:60px;
		padding-top: 15px;
		text-align:center;
		line-height: 34px;
		background-size: 100%;	
	}

    	#match{
		background: url('../images/game_bg@2x.jpg');
		background-repeat: none;
		background-size: 100%;
	}

		#shop{
		background: url('../images/shopscreen@2x.jpg');
		background-repeat: none;
		background-size: 100%;	
	}

		#deck{
		background: url('../images/items/background.jpg');
		background-repeat: none;
		background-size: 100%;	
	}

		#logo {
		background: url('../images/logo@2x.png');
		background-repeat: none;
		background-size: 100%;		
	}

		#home {
		background: url('../images/login@2x.jpg');
		background-repeat: none;
		background-size: 100%;		
	}

		.card img{
		width: 45px;
	}

		#itemsBtn img{
		width:92px;
	}

		#shopBtn img{
		width:92px;
	}

}


/* 
Form Imputs */
	#session_email{
		margin-left: 17px;
	}

	#signForm{
		margin-top:85px;
	}


/* 
Buttons */

	.f90{
		width: 80%;
		padding: 10px;
		color: #5d5d5d;
		font-size: 16px;
		margin-bottom: 5px;
		margin-left: 17px;
		border:none;
	}

	#w75{
		width: 85%;
	}

	#facebook-auth{
		margin-left: 15px;
	}

	.bigButton{
		border: solid 4px #4f3b29;
		padding:10px;
		margin-left:17px;
		margin-bottom: 15px;
		margin-top: 10px;	
		height: 50px;
		width: 90%;
		color: #fff;
		font-family: 'Helvetica',sans-serif;
		-webkit-border-radius: 10px;
		text-align:center;
		font-size: 20px;
		font-weight: bold;
	}

	.yellow {
		background: #e8a22e;
		border: solid 4px #4f3b29;
		padding:10px;
		margin:auto;
		height: 25px;
		width: 204px;
		color: #fff;
		font-family: 'Gotham-Bold';
		-webkit-border-radius: 10px;
		text-align:center;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
		color:#4e3b2a;
	}


/* Webkit animations
=================================*/

@-webkit-keyframes popchange {
    0% {-webkit-transform: scale(1); }
    100% {-webkit-transform: scale(1.4); }
}
