ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.card {
	height: 45px;
	width:90%;
	margin: auto;
	margin-top: 5px;
	-webkit-border-radius: 8px;	
	-webkit-user-select: none;
	-webkit-transition: all .1s ease;
	-webkit-perspective: 0;
	-webkit-backface-visibility: hidden;
	position: relative;
	background-color: #efebe1;
	color: #fff;
}

.green {
	background: #c4d7d2;
}

.selected {
	opacity: 0.5;
}

.discard {
	display: none;
}

#hand {
	height: 260px;
	overflow-y: scroll;
}

#imgCenter{
	margin:auto;
	text-align:center;
}

/* Game Page */

#lobby_header{
	width: 25%;
	background: #4a3515;
	float: left;
	height:45px;
	padding-top: 25px;
}

#lobby_header img{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

#spend{
	width: 25%;
	background: #fbb032;
	float: left;
	height:55px;
	padding-top: 15px;
	text-align:center;
	color: #fff;
	font-size: 28px;
	font-weight:bold;
	line-height: 34px;
}

#spend img{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

#actions{
	width: 25%;
	background: #ef6b56;
	float: left;
	height:55px;
	padding-top: 15px;
	text-align:center;
	color: #fff;
	font-size: 28px;
	font-weight:bold;
	line-height: 34px;	
}

#actions img{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

#turn{
	width: 25%;
	background: #4a3515;
	float: left;
	height:55px;
	padding-top: 15px;
	text-align:center;
	color: #fff;
	font-size: 28px;
	font-weight:bold;
	line-height: 34px;	
}

#turn img{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* Players Toolbar */
#players{
	background: #424242;
	width:100%;
}

.playersNumber{
	font-size: 18px;
	font-weight:bold;
	color: #c4d7d2;
	margin-top: 10px;
}

#players2 li{
	height: 28px;
	width: 50%;
	list-style-type: none;
	float:left;
	text-align:center;
	background: #424242;
}

.players3 {
	height: 28px;
	width: 33.3%;
	list-style-type: none;
	float:left;
	text-align:center;
	background: #424242;
	color: #fff;
	font-weight:300;
	font-size:12px;
}

.playersSelected {
	background: #898989;
}

.players4 {
	height: 28px;
	width: 25%;
	list-style-type: none;
	float:left;
	text-align:center;
	background: #424242;
	color: #fff;
	font-weight:300;
	font-size:12px;
}

/* Background Declarations */
	
#match{
	background: url('../images/game_bg.jpg');
	background-repeat: none;
}

#shopBtn{
	margin-top:20px;
	float:left;
}

#itemsBtn{
	margin-top:20px;
	float:right;
}

.clear{
	clear:both;
}