ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.card {
	height: 60px;
	-webkit-user-select: none;
	-webkit-transition: all .1s ease;
	-webkit-perspective: 0;
	-webkit-backface-visibility: hidden;
	position: relative;
	background-color: #666;
	color: #fff;
}
.green {
	background: #c4d7d2;
}
.selected {
	opacity: 0.5;
}
.discard {
	display: none;
}

#imgCenter{
	margin:auto;
	text-align:center;
}

/* Game Page */

#lobby_header{
	width: 25%;
	background: #4a3515;
	float: left;
	height:80px;
}

#spend{
	width: 25%;
	background: #fbb032;
	float: left;
	height:80px;
}

#actions{
	width: 25%;
	background: #ef6b56;
	float: left;
	height:80px;
}

#turn{
	width: 25%;
	background: #4a3515;
	float: left;
	height:80px;
}

/* Background Declarations */
	
#match{
	background: url('../images/game_bg.jpg');
	background-repeat: none;
}



.clear{
	clear:both;
}